[Unit]
Description=Gunicorn instance for challenge website
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/challenge-website
ExecStart=/usr/local/bin/gunicorn -b localhost:8000 app:app
Restart=always

[Install]
WantedBy=multi-user.target